<ng-container *ngFor="let todo of (todoList$ | async)">
    <mat-card class="mb-4" (click)="handleItemClicked(todo)">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="{{todo.completed ? 'primary' : null}}">
                    <mat-icon>{{todo.completed ? 'check_circle_outline' : 'radio_button_unchecked'}}</mat-icon>
                </button>
                <span class="ml-3">{{todo.title}}</span>
            </div>
            <button mat-icon-button class="align-self-end" (click)="$event.stopPropagation(); deleteItem(todo.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
</ng-container>
