$aff-purple: (
        50 : #f1e2fa,
        100 : #dbb6f3,
        200 : #c485eb,
        300 : #ac54e2,
        400 : #9a30dc,
        500 : #880bd6,
        600 : #800ad1,
        700 : #7508cc,
        800 : #6b06c6,
        900 : #5803bc,
        A100 : #efe5ff,
        A200 : #d1b2ff,
        A400 : #b27fff,
        A700 : #a365ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
$aff-darkGray: (
        50 : #eeeeee,
        100 : #d4d4d4,
        200 : #b8b8b8,
        300 : #9b9b9b,
        400 : #858585,
        500 : #707070,
        600 : #686868,
        700 : #5d5d5d,
        800 : #535353,
        900 : #414141,
        A100 : #f5a9a9,
        A200 : #f07b7b,
        A400 : #ff3a3a,
        A700 : #ff2020,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$aff-neutralGray: (
        50 : #f9f9f9,
        100 : #f0f0f0,
        200 : #e6e6e6,
        300 : #dbdbdb,
        400 : #d4d4d4,
        500 : #cccccc,
        600 : #c7c7c7,
        700 : #c0c0c0,
        800 : #b9b9b9,
        900 : #adadad,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #fffcfc,
        A700 : #ffe2e2,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$aff-white: #ffffff;
$aff-black: #000;

